#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color: transparent;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
